@media (max-width: 780px) {
  .hide-sm {
    display: none;
  }

  .container {
    margin-top: 8rem;
  }

  // Text Styles
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  // Navbar
  .navbar {
    display: block;
    text-align: center;


  }

  ul {
    text-align: center;
    justify-content: center;


  }

  h1 {
    margin-bottom: 1rem;
  }


  // Profiles
  .profile {
    grid-template-columns: 1fr;
    text-align: center;

    img {
      margin: auto;
      width: 40%;
    }

    .profile-flex {
      display: none;
    }
  }
}

@media (max-width: 425px) {
  // Landing

  .movie-container {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 3rem;

    line-height: 1.8;
    border: 3px solid $primary-color;
    padding: 1rem;

    img {
      height: auto;
      width: 150px;
      margin: auto;

    }

    .flex {
      display: flex;
      flex-direction: column;
      justify-content: space-around;


      .item-1,
      .item-2 {

        padding: 1rem;
      }

      .movie-line {
        border: 1px solid $primary-color;
        margin: 1.5rem 0;
      }
    }
  }

  .movie-form {
    width: auto;

    .btn {
      width: auto;
    }
  }

  // Profiles
  .profile {

    img {
      margin: auto;
      width: 100%;
    }
  }

  // Profile

  .mobile-btn {
    margin-bottom: 0.5rem;
  }

  .profile-grid {

    img,
    .profile-top img {
      width: 200px;
      margin: auto;
    }

    .profile-top .icons a {
      color: $light-color;
      margin: 0 0.1rem;


    }

    .fav-movies {
      display: flex;
      flex-direction: column;
    }

  }



}