@media (max-width: 780px) {
  .hide-sm {
    display: none;
  }

  .container {
    margin-top: 8rem;
    padding: 0 0.5rem;
  }

  // Text Styles
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
    text-align: center;
  }

  .lead {
    font-size: 1rem;
    text-align: center;
  }

  // Navbar
  .navbar {
    display: block;
    text-align: center;
  }

  ul {
    text-align: center;
    justify-content: center;
  }

  h1 {
    margin-bottom: 1rem;
  }

  // Profiles
  .profile {
    grid-template-columns: 1fr;
    text-align: center;

    img {
      margin: auto;
      width: 40%;
    }

    .profile-flex {
      display: none;
    }
  }
}

@media (max-width: 425px) {
  // Landing
  .mobile-landing {
    width: 100%;
  }

  .mobile-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .movie-container {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 0rem;

    img {
      height: auto;
      width: 150px;
      margin: auto;
    }
  }

  .movie-form {
    width: auto;

    .btn {
      width: auto;
    }
  }

  // Profiles
  .profile {
    img {
      margin: auto;
      width: 100%;
    }
  }

  // Profile

  .mobile-btn {
    margin-bottom: 0.5rem;
  }

  .profile-grid {
    img,
    .profile-top img {
      width: 200px;
      margin: auto;
    }

    .profile-top .icons a {
      color: $light-color;
      margin: 0 0.1rem;
    }

    .fav-movies {
      display: flex;
      flex-direction: column;
    }
  }

  // Create-Profile
  .create-profile .small {
    text-align: center;
    font-size: smaller;
  }

  .form {
    text-align: center;

    .btn {
      margin-right: 0;
    }
  }
}
